.half-width{
    width: 70%;
    padding-left: 5%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    
}
.half-width img{
    width: 80%;
       
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.orange-color{
    color: orange;
}
h1{
    font-size: xx-large;
}
.about-me{
    background-image: url(image/bg-female.png);
    height: 400px;

   
}
.half-width2{
    text-align: center;
    padding-right: 20px 60px;
    margin-left: 25%;
    padding-top: 80px;

}
.experience-iteam{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px;
}
.experience-area{
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px 10px;
}
#full-stack-developer{
   border-radius:10px solid ;
}
.last-iteam{
    text-align: center;
    padding-right: 20px 60px;
    margin-left: 25%;
    padding-top: 80px;
    font-size: xx-large;
    width: 50%;

}
footer{
    background-color:gray;
    text-align: center;
    height: 200px;
    padding-top: 20px;
}